:root.theme-dark {
    --accent-color: #00CC14;
    --text-stroke-color: #000;
    --diff-accent-color: #00CC14;
    --bg-color: #000;
    --bg-grd-lines-color: #000;
    --bg-grd-from: #007f0c;
    --bg-grd-to: #004306;
}

:root.theme-light {
    --accent-color: #000;
    --text-stroke-color: #fff;
    --diff-accent-color: #fff;
    --bg-color: #fff;
    --bg-grd-lines-color: #d3d3d3;
    --bg-grd-from: #e7e7e7 0.01%;
    --bg-grd-to: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #00CC14;
        --text-stroke-color: #000;
        --diff-accent-color: #00CC14;
        --bg-color: #000;
        --bg-grd-lines-color: #000;
        --bg-grd-from: #007f0c;
        --bg-grd-to: #004306;
    }
}
